/* Template Styles */
a {
	text-decoration: none;
	color: inherit;
}
a:visited {
	color: inherit;
}
.page-body-amp {
	max-width: 600px;
	margin: 0 auto;
	padding: 0px 16px;
}
body {
	font-family: 'Merriweather', Serif;
	font-size: 16px;
	line-height: 1.8;
	background: #fff;
	color: #3d596d;
}
.page-content-amp {
	color: #3d596d;
}
.page-content-amp, .footer-content-amp {
	overflow-wrap: break-word;
	word-wrap: break-word;
	font-weight: 400;
}
amp-img#shop-logo-amp {
	margin: 0px auto 0px auto;
	display: block;
	border-radius: 3px;
}
td, th {
	text-align: left;
}
.page-content-amp {
	color: #555555;
}
#product-name-amp a, #category-name-amp a {
	color: #555555;
	text-decoration: none;
	font-size: 22px;
}
#product-image-amp {
	border: 1px solid #e1e1e1;
}
#product-price-amp {
	padding: 10px;
	background: #f5f5f5;
	border: 1px solid #e1e1e1;
}
#product-add-to-cart-amp::before, .product-add-to-cart-amp::before {
	border: 1px solid #06b2e6;
	border-radius: 5px 0 0 5px;
}
#product-add-to-cart-amp, .product-add-to-cart-amp {
	background-image: linear-gradient(#009ad0, #007ab7);
	padding: 10px 15px;
}
#product-add-to-cart-amp a, .product-add-to-cart-amp a {
	width: 100%;
	color: white;
	font-weight: 700;
	font-size: 20px;
	text-decoration: none;
	display: block;
	text-align: center;
}
ul, li {
	padding: 0px;
}
ul li a, ul li {
	font-weight: bold;
	color: #777777;
	text-decoration: none;
}
ul {
	margin: 0px;
	list-style: outside none none;
}
.footer-content-amp {
	color: #fff;
	padding: 16px;
	background: #3f3f3f none repeat scroll 0 0;
	width: 100%;
	float: left;
}
.footer-content-amp h4 {
	margin: 0px;
}
.footer-content-amp div {
	border-top: 1px solid #515151;
}
.pagination-block{
	margin: auto;
	width: 50%;
}
.pagination{
	display: inline-block;
	list-style: outside none none;
}
ul.pagination li.pagination_previous {
	margin-right: 10px;
}
ul.pagination li{
	padding: 0px 5px;
	border: 1px solid #e1e1e1;
	margin: 2px;
	display: inline-block;
}
ul.pagination li:first-child, ul.pagination li:last-child{
	border: 0px;
}
.disabled{
	cursor: not-allowed;
}
.active{
	color: #000000;
}